################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/a/x64/Debug
/x64/Debug
/a/x64/Release
/x64/Release
